<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Record Page</title>
        <link rel="stylesheet" href="{static 'css/rec_style.css'}">
    </head>

    <body>
        <h1>Hi</h1>
        <h2>Here are your user's Information</h2>

        {% if user_data %}
            <ol>
                {% for user in user_data %}
                <li>User info:</li>
                    <ul>
                        <li> First name : {{ user.First_name }} </li>
                        <li> Last name : {{ user.Last_name }} </li>
                        <li> Email : {{ user.Email }} </li>
                    </ul>
                {% endfor %}
            </ol>
            
        {% else %}
        <p>You don't have any user!</p>

        {% endif %}
    </body>
</html>